body {
  background-image: url("../images/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link {
  background-color: palevioletred;
  color: white;
  font-size: xx-large;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline;
}
